/DogGenetics/target/
/RockPaperScissors/target/
/SummativeSums/target/
/FactorizerRefactored/target/
/InterestCalculatorRefactored/target/
/LuckySevensRefactored/target/
/RockPaperScissorsRefactored/target/
/SimpleCaclulator/target/
/SimpleCalculator2/target/
/ShapesAndPerimeters/target/
/StateCapitals1/target/
/StateCapitals2/target/
/StudentQuizScores/target/
/MyInheritanceLab/target/
/ClassRoster/target/
/AddressBook/target/
/mp3Project/target/