<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Field Agent: View Assignment</title>
        <style>
            body {
                margin: 20px auto;
                max-width: 1000px;
            }
        </style>
    </head>
    <body>
        <h2 >Assignment</h2>
        <!-- Errors Div -->
        <div class="col-12 m-1 text-center">
              <p class="alert alert-danger" 
                th:each="violation : ${listOfViolations}" 
                th:text="${violation}">Error message</p>
        </div>
        
        <form action="/editAssignment" method="POST">
            <div style="display:none;">
                <input th:value="${assignmentId}" name="assignmentId" id="assignmentId"></input>
                <input th:value="${originalStartDate}" type="text" name="originalStartDate" id="originalStartDate"></input>
                <input th:value="${originalEndDate}" type="text" name="originalEndDate" id="originalEndDate"></input>
            </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Field Agent</label>
                        <select class="form-control" name="agentName" id="agentName" required>
                            <option th:each="agent : ${listOfAgents}"
                                    th:value="${agent.identifier}"
                                    th:text="${agent.firstName} + ' ' + ${agent.lastName}"
                                    th:selected="${agent.identifier == assignmentAgentIdentifier}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label>Country</label>
                        <select class="form-control" name="country" id="country" required>
                            <option th:each="country : ${listOfCountries}"
                                    th:value="${country.countryCode}"
                                    th:text="${country.name}"
                                    th:selected="${country.countryCode == assignmentCountryCode}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Start</label>
                        <input class="form-control" type="date" name="startDate" id="startDate" th:value="${assignmentStart}" required/>
                    </div>
                    <div class="form-group col">
                        <label>Projected End</label>
                        <input class="form-control" type="date" name="projectedEndDate" id="projectedEndDate" th:value="${assignmentProjectedEnd}" required/>
                    </div>
                    <div class="form-group col">
                        <label>Actual End</label>
                        <!-- IF DATE EXISTS-->
                        <div th:if="${isActualEndDate == true}">
                            <input th:value="${assignmentAcutalDate}" class="form-control" type="date" name="actualEndDate" id="actualEndDate"/>
                            <input style="display:none;" th:value="${assignmentAcutalDate}" type="text" name="originalActualEndDate" id="originalActualEndDate"/>
                        </div>
                        <!-- IF DATE DOES NOT EXIST -->
                        <div th:if="${isActualEndDate == false}">
                            <input class="form-control" type="date" name="actualEndDate" id="actualEndDate"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Notes</label>
                    <!-- IF NOTES EXIST -->
                    <div th:if="${doNotesExist == true}">
                        <textarea th:value="notes" class="form-control" type="text" name="assignmentNotes" id="assignmentNotes" maxlength="9999">
                        </textarea>
                    </div>
                    <!-- IF NOTES DO NOT EXIST -->
                    <div th:if="${doNotesExist == false}">
                        <textarea class="form-control" type="text" name="assignmentNotes" id="assignmentNotes" maxlength="9999">
                        </textarea>
                    </div>
                </div>
                <button class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" style="color: white;" href="/home">Cancel</a>
            </form>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>




